# Dependencias
node_modules/

# Compilación TypeScript
dist/

# Base de datos SQLite
*.sqlite
*.sqlite3

# Variables de entorno
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# ignorar archivo arquitectura.md
arquitectura.md